.container {
  background-color: var(--pink);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  h2 {
    margin: 0;

    span {
      display: block;
      font-size: clamp(1rem, 2vw, 0.6em);
      margin-bottom: 0.3rem;
    }
  }

  .poster {
    padding: 1.5rem 0;

    img {
      width: 100%;
      max-width: 230px;

      @media screen and (min-width: 400px) {
        max-width: 300px;
      }
    }
  }

  .nav {
    .streaming-link {
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-bottom: 0.75rem;
    }

    button::before {
      content: '↻';
      margin-right: 0.5rem;
    }
  }

  .rating {
    margin-top: 1rem;
    font-size: 0.875rem;

    @media screen and (min-width: 400px) {
      bottom: 1rem;
      position: fixed;
    }

    .toast {
      position: fixed;
      right: 5px;
      bottom: 0px;
      height: 100px;
      width: 90px;
      line-height: 14px;
      padding-top: 0.9rem;
      background: url(../../images/speech-bubble.svg) no-repeat center/contain;
      user-select: none;
      display: none;
      opacity: 0;
    }

    .rating-options {
      margin-top: 0.25rem;

      > * {
        display: inline-flex;
        gap: 0.5rem;

        &:first-child {
          margin-right: 1rem;
        }
      }

      &:has(:checked) + .toast {
        display: block;
        animation: toast-fade-slide-in 3.5s ease-out;
      }
    }
  }
}

@keyframes toast-fade-slide-in {
  0% {
    opacity: 0;
    display: none;
    transform: translateY(200px);
  }

  15% {
    opacity: 1;
    display: block;
    transform: translateY(0px);
  }

  85% {
    opacity: 1;
    display: block;
  }

  100% {
    opacity: 0;
    display: none;
    transform: translateY(-5px);
  }
}
