.question-container {
  display: flex;
  flex-direction: column;

  .bar {
    padding: 0 2px;
    width: 100%;
    height: 14px;
  }

  .topnav {
    margin-bottom: 1rem;

    .back-button {
      margin-top: 0.5rem;
    }
  }

  .next-button {
    margin-top: 1.5rem;
  }

  .title {
    text-align: center;

    span {
      font-size: large;
    }

    h2 {
      margin-top: 0.5rem;
    }
  }

  .dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 2;

    input {
      flex: 1;
      cursor: inherit;
      height: 100%;

      &:focus {
        outline: none;
      }
    }

    &::after {
      position: absolute;
      content: '<';
      right: 1rem;
      transform: rotate(-90deg);
    }

    .dropdown-content {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      max-height: 180px;
      background-image: url('../images/input-border.svg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding: 1rem 0;
      overflow: hidden;

      ol {
        height: 100%;
        overflow-y: scroll;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          height: 2.5rem;
          display: flex;
          align-items: center;
          padding: 0 1.5rem;
          gap: 1rem;

          .flag {
            aspect-ratio: 3/2;
            width: 1.5rem;
          }
        }
      }

      .empty {
        font-size: smaller;
        padding: 0 1.5rem;
      }
    }
  }

  .range-slider {
    padding: 3px;
    width: 100%;
    position: relative;
    overflow: hidden;

    .range-slider-thumb {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: grab;
      width: 30px;
      aspect-ratio: 1/1;
      height: auto;
      background-image: url('../images/circle.svg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }

  .decade-range {
    text-align: center;

    .decade-range-dash {
      margin: 0 0.5rem;
    }
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .checkbox-list-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    height: auto;
    min-height: 48px;
    padding: 0.75rem 1rem;

    &.checkbox-card {
      overflow: hidden;
      aspect-ratio: 1.684;
      position: relative;
      align-items: start;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding: 1.5rem;
        object-fit: contain;
      }
    }
  }

  .content-container {
    position: relative;
    flex: 1;
    overflow: hidden;

    .content {
      height: 100%;
      overflow: auto;

      &.fade-bottom::after,
      &.fade-top::before {
        display: block;
        content: '';
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 3rem;
        pointer-events: none;
      }

      &.fade-bottom::after {
        bottom: 0;
        background: linear-gradient(transparent, white);
      }

      &.fade-top::before {
        top: 0;
        background: linear-gradient(white, transparent);
      }
    }
  }
}
