.start-container {
  background-color: var(--pink);
  height: 100svh;
  padding: var(--p-global);

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 100px;

    > img {
      width: 150px;
      height: 150px;
    }

    p {
      text-align: center;
      font-size: larger;
    }
  }

  footer {
    position: absolute;
    bottom: 1rem;
  }
}
