.container {
  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 75%;
    max-width: 600px;
    height: 100%;
    background: url('../../images/scribbles-top.png') no-repeat left top/contain,
      url('../../images/scribbles-bottom.png') no-repeat left bottom 1.5rem /
        contain;
  }

  header {
    height: 100%;
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: -1.5rem;
    text-align: center;
    font-size: larger;
    z-index: 1;
    position: relative;

    .logo {
      display: block;
      margin-top: -20px;
      width: 280px;
      max-width: 100%;

      @media screen and (min-width: 450px) {
        width: 450px;
      }
    }

    button {
      margin-top: 1rem;
      max-width: 200px;
    }
  }

  .cutouts {
    position: absolute;
    bottom: 0;
    right: 0;
    img {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .gorls {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 80%;

    @media screen and (max-width: 1280px) {
      width: 50%;
      height: auto;
    }
  }

  footer {
    position: absolute;
    font-size: 0.875rem;
    left: 0.75rem;
    bottom: 0.75rem;
  }
}
