label {
  line-height: 1.125rem;

  .checkbox {
    background: url('../../images/square.svg') no-repeat center/1rem;
    min-width: 1.125rem;
    height: 1.125rem;
    position: relative;

    svg {
      position: absolute;
      bottom: 0;
      left: 3px;
      width: 18px;
      stroke-dashoffset: 25;
      stroke-dasharray: 25;
      transition: stroke-dashoffset 150ms ease-in-out;
    }
  }

  input[type='checkbox'],
  input[type='radio'] {
    display: none;

    &:checked + .checkbox > svg {
      stroke-dashoffset: 0;
    }
  }
}
