.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .topnav {
    width: 100%;
    margin-bottom: 1rem;

    .back-button {
      margin-top: 0.5rem;
    }
  }

  .title {
    text-align: center;
    max-width: 500px;

    h2 {
      margin-top: 0.5rem;
    }
  }

  .content-container {
    width: 100%;
    max-width: 480px;
    flex: 1;
    position: relative;
    overflow: hidden;

    .content {
      height: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &:has([class*='card-grid']) {
      max-width: 680px;
    }
  }

  .next-button {
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 400px) {
  .next-button {
    min-width: 10rem;
    width: auto;
  }
}
