.card-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

@media screen and (min-width: 700px) {
  .card-grid {
    gap: 1.75rem;
  }
}
