.container {
  background-color: var(--pink);
  height: 100svh;
  padding: 24px;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 100px;

    > img {
      width: 150px;
      height: 150px;
    }

    p {
      text-align: center;
      font-size: larger;
    }
  }
}
