:root {
  --pink: #e26ca4;
  --black: #121212;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lacquer', system-ui;
  color: var(--black);
  text-transform: lowercase;
  font-weight: 600;
}
