.dropdown {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 2;

  @media screen and (min-width: 400px) {
    max-width: 300px;
  }

  input {
    cursor: inherit;
    padding-left: 1.5rem;
  }

  &::after {
    position: absolute;
    content: '<';
    right: 1.5rem;
    transform: rotate(-90deg);
    transition: transform 200ms ease-out;
    pointer-events: none;
  }

  &:has(.dropdown-content) {
    &::after {
      transform: rotate(90deg);
    }
  }

  .dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 180px;
    padding: 1rem 0;
    overflow: hidden;

    ol {
      height: 100%;
      overflow-y: scroll;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        height: 2.5rem;
        display: flex;
        align-items: center;
        padding: 0 1.5rem;
        gap: 1rem;
        transition: var(--opacity-transition);

        .flag {
          aspect-ratio: 3/2;
          width: 1.5rem;
          border-radius: 2px;
        }

        &:hover {
          opacity: var(--hover-opacity);
        }
      }
    }

    .empty {
      font-size: smaller;
      padding: 0 1.5rem;
    }
  }
}
